@import "../../styles/_partials"

.section
	@include spacing
	display: grid
	grid-auto-flow: row
	justify-content: center
	gap: 2rem

.header
	@include mainHeader
	
.subheader
	@include subheader

@include tablet
	.section
		gap: 3rem
