@import "../../styles/_partials"

.firstSection
	@include spacing
	display: flex
	flex-direction: column

.middleSection
	@include spacing
	padding-top: 0 !important
	display: flex
	flex-direction: column

.overlineWrap
	text-align: center

.overlineIcon
	display: block
	font-size: 1.33rem

.takuutWrap
	margin-top: 2rem
	margin-bottom: 1.5rem

// Features.
.features
	display: grid

.scoreWrap
	margin: 1rem 0

.featureHeader
	@include headerSmall
	max-width: 720px

@include tablet
	.description
		display: inline-block
		margin-top: 0
		max-width: 800px
	
@include desktop
	.features
		grid-template: auto auto / auto auto
		gap: 1rem 3rem
	.takuutWrap
		margin-top: 3rem
		margin-bottom: 3rem