@import "../../styles/_partials"

.section
	@include spacing

.imgWrap
	margin-top: 2rem

.overlineIcon
	display: inline-block
	margin-bottom: 0.33rem
	font-size: 1.33rem

@include laptop
	.column
		display: grid
		grid-auto-flow: column
		gap: 2rem
	.imgWrap
		align-self: center
	
@include desktop
	.column
		justify-content: space-evenly
	.headersWrap
		text-align: center