@import "../../styles/_partials"

.headerMain
	@include headerBig
.headerDescription
	@include headerDescription
	font-weight: 600
	color: $dark
.overlineWrap
	text-align: center
.overlineIcon
	display: block
	font-size: 1.33rem

// Layouts.
.section
	@include spacing
	overflow: hidden
.column
	display: grid
	gap: 1rem
	grid-template-areas: "img" "text" "score"

.imgWrap
	grid-area: img
	max-width: 200px
	margin: 1rem 0
.textWrap
	grid-area: text
.scoreWrap
	grid-area: score

// Media queries.
@include tablet
	.column
		justify-content: start
	.imgWrap
		max-width: 320px
@include laptop
	.column
		margin-top: 2rem
		gap: 3rem 2rem
		grid-template-areas: "score score" "img text"
@include desktop
	.headersWrap
		text-align: center
	.scoreWrap
		margin-top: 1rem