@import "../../styles/_partials"

.takuut
	display: grid
	grid-auto-flow: row
	grid-template: auto / auto auto
	gap: 1.5rem 1rem
	justify-content: flex-start

.takuu
	display: grid
	grid-auto-flow: row
	align-content: start
	gap: 1rem
	width: 100%
	max-width: 150px
	
.iconWrapper
	display: flex
	justify-content: center
	align-items: center
	width: 50px
	height: 50px
	border-radius: 9999px
	font-size: 2rem
	background-color: $primary
	color: $light

.header
	display: block
	font-weight: 600

@include tablet
	.takuut
		grid-template: auto / auto auto auto
		gap: 2rem
	.takuu
		justify-items: start
		justify-self: start
		text-align: left
	.iconWrapper
		height: 75px
		width: 75px
	
@include desktop
	.takuut
		grid-template: auto / repeat(6, minmax(120px, auto))
	.takuu
		text-align: center
		justify-items: center