@import "../../styles/_partials"

// Layout.
.section
	@include spacing
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

// Headers.
.headers
	display: flex
	flex-direction: column
	align-items: center
	align-items: center
	max-width: 600px
	text-align: center
.header
	@include mainHeader
.subheader
	@include subheader

// Icons.
.icon
	font-size: $h1Size
	margin-bottom: 1.5rem

.bouncing
	animation: bounce 1.33s infinite

.spinning
	animation: rotate 0.75s infinite linear

@keyframes bounce
	0%
		transform: translateY(0%)
	50%
		transform: translateY(15%)
	0%
		transform: translateY(0%)

@keyframes rotate
	100%
		transform: rotate(360deg)