@import "../../styles/_partials"

// Layout.
.section
	@include spacing
	display: flex
	flex-direction: column
	align-items: center

// Headers.
.headers
	position: relative
	max-width: 600px
.header
	@include mainHeader
.subheader
	@include subheader

// Icons.
.icon
	font-size: $h1Size
	margin-bottom: 1.5rem
.spinning
	animation: rotate 0.75s infinite linear

// Animations.
@keyframes bounce
	0%
		transform: translateY(0%)
	50%
		transform: translateY(15%)
	0%
		transform: translateY(0%)
@keyframes rotate
	100%
		transform: rotate(360deg)

@include laptop
	.header
		max-width: 100% !important