@import "../../styles/_partials"

.bar
	@include spacing
	position: relative
	overflow: hidden
	padding-left: 1rem
	padding-right: 1rem

.text
	@include tinyHeader
	margin: auto
	text-align: center

.arrow
	z-index: 3
	position: absolute
	left: 50%
	bottom: 30px
	transform: translateX(-50%)

@include tablet
	.text
		@include mediumHeader
		
@include laptop
	.text
		@include bigHeader
		max-width: 100%

@include desktop
	.bar
		padding-top: 1em	
		padding-bottom: 1em
		
	.text
		border-top: 5px dashed $dark
		padding: 1em 0