@import "../../../styles/_partials"

.wrapper
	display: block
	user-select: none
	
	a, button
		display: inline-block
		min-width: 225px
		padding: 0.6rem 1.5rem
		border: 2px solid transparent
		border-radius: 2px
		background-color: $dark
		color: $light
		font-weight: 600
		text-align: center
		transition: all 400ms ease-in-out
		cursor: pointer

		&:hover, &:focus
			outline: none
			border: 2px solid $dark
			background-color: $light
			color: $dark
		
.primary // blue
	a, button
		border: 2px solid $primary
		background-color: $primary

		&:hover, &:focus
			border: 2px solid $primary
			background-color: transparent
			color: $primary
	
.secondary // red
	a, button
		border: 2px solid $secondary
		background-color: $secondary

		&:hover, &:focus
			border: 2px solid $secondary
			background-color: transparent
			color: $secondary
		
.alternative
	a, button
		border: 2px solid rgba(0, 0, 0, 0.33)
		background-color: transparent
		color: $dark

		&:hover, &:focus
			background-color: 2px solid $dark
		