@use "@/partials/colors"

.wrapper
	display: block
	user-select: none
	a, button
		display: inline-flex
		justify-content: center
		align-items: center
		padding: 0 25px 0 25px
		min-width: 200px
		height: 50px
		border: 1px solid transparent
		border-radius: 9999px
		font-size: 1rem
		font-weight: 600
		text-transform: capitalize
		background-color: colors.$dark
		color: colors.$light
		transition: all 200ms ease
		cursor: pointer
		&:hover, &:focus
			outline: none
			border: 1px solid colors.$dark
			background-color: colors.$light
			color: colors.$dark
		
.primary // blue
	a, button
		border: 2px solid colors.$primary
		background-color: colors.$primary

		&:hover, &:focus
			border: 2px solid colors.$primary
			background-color: transparent
			color: colors.$primary
	
.secondary // red
	a, button
		border: 2px solid colors.$secondary
		background-color: colors.$secondary

		&:hover, &:focus
			border: 2px solid colors.$secondary
			background-color: transparent
			color: colors.$secondary
		
.alternative
	a, button
		border: 1px solid #eaeaea
		background-color: transparent
		color: colors.$gray
		&:hover, &:focus
			background-color: 1px solid colors.$dark
			color: colors.$dark
		