@use "@/partials/colors"

.wrapper
	display: block
	user-select: none
	a, button
		display: inline-block
		min-width: 225px
		padding: 0.6rem 1.5rem
		border: 2px solid transparent
		border-radius: 2px
		background-color: colors.$dark
		color: colors.$light
		font-weight: 600
		text-align: center
		transition: all 400ms ease-in-out
		cursor: pointer
		&:hover, &:focus
			outline: none
			border: 2px solid colors.$dark
			background-color: colors.$light
			color: colors.$dark
		
.primary // blue
	a, button
		border: 2px solid colors.$primary
		background-color: colors.$primary

		&:hover, &:focus
			border: 2px solid colors.$primary
			background-color: transparent
			color: colors.$primary
	
.secondary // red
	a, button
		border: 2px solid colors.$secondary
		background-color: colors.$secondary

		&:hover, &:focus
			border: 2px solid colors.$secondary
			background-color: transparent
			color: colors.$secondary
		
.alternative
	a, button
		border: 2px solid rgba(0, 0, 0, 0.33)
		background-color: transparent
		color: colors.$dark

		&:hover, &:focus
			background-color: 2px solid colors.$dark
		