@import "../../styles/_partials.sass"

.buttonWrapper
	display: flex

.button
	display: inline-flex
	align-items: center
	padding: 0.5rem 1rem
	border-radius: 9999px
	font-weight: 600
	text-transform: uppercase
	letter-spacing: 0.075rem
	text-align: center
	text-decoration: none !important
	border: 3px solid map-get($colors, highlight)
	color: map-get($colors, textLight) !important
	background-color: map-get($colors, highlight)
	transition: all 0.25s ease

	&:hover 
		padding: 0.5rem 1.5rem
	
	& > svg
		display: none
		font-size: 1.1rem
		transition: transform 0.25s ease
	
.buttonWrapperCenter
	justify-content: center