@import "../../styles/_partials"

.buttonLink
  background-color: map-get($colors, primary)
  padding: 0.75rem 2.5rem
  color: #fff  !important
  border-radius: 4px
  margin: 1rem 0

  &:hover
    background-color: map-get($colors, primaryLighter)