@import "../../styles/_partials.sass"

.buttonWrapper
	display: flex

.buttonAnchor
	display: inline-flex
	align-items: center
	border-radius: 9999px
	border: 3px solid map-get($colors, highlight)
	font-family: $headerFont
	letter-spacing: 0.1rem
	text-transform: uppercase
	text-align: center
	color: map-get($colors, textLight) !important
	background-color: map-get($colors, highlight)
	padding: 0.75rem 1.5rem
	transition: all 0.25s ease

	&:hover 
		padding: 0.75rem 2rem
	
.buttonWrapperCenter
	justify-content: center