@import "../../styles/_partials.sass"

.button
	display: block
	border-radius: 9999px
	padding: 0.5rem 1rem
	text-transform: uppercase
	letter-spacing: 0.075rem
	font-weight: 600
	color: map-get($colors, textDark) !important
	background-color: map-get($colors, secondary)
	border: 3px solid map-get($colors, secondary)
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5)
	transition: all 0.2s ease
	min-width: 6rem
	text-align: center

	&:hover 
		box-shadow: none

.secondary
	color: map-get($colors, textLight) !important
	background-color: transparent
	border: 3px solid map-get($colors, textLight)
	box-shadow: none

	&:hover
		border: 3px solid transparent