@import "../../styles/_partials"

.anchor
  display: inline-flex
  justify-content: center
  align-items: center
  margin: 0.66rem 0
  padding: 0.75rem
  color: #fff
  border-radius: 4px
  background-color: map-get($colors, textDark)
  border: 1px solid map-get($colors, textDark)
  transition: all 0.2s ease
  min-width: 200px
  font-size: 1.1rem
  user-select: none
  text-align: center

  &:hover, &:focus
    color: map-get($colors, textDark)
    background-color: transparent

  svg
    font-size: 1.2em
    margin-left: 4px

.secondary
  color: map-get($colors, textDark)
  background-color: transparent
  border: 1px solid #ccc

  &:hover, &:focus
    color: map-get($colors, textDark)
    border: 1px solid map-get($colors, textDark)