@import "../../styles/_partials"

.functionButton
  min-width: 50px
  margin: 0.66rem 0
  padding: 0.75rem 2rem
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: 1rem
  transition: all 0.1s ease
  border: 1px solid map-get($colors, textDark)
  border-radius: 8px
  color: map-get($colors, textLight)
  background-color: map-get($colors, textDark)
  transition: all 0.2s ease
  pointer-events: auto
  cursor: pointer
  user-select: none

  &:disabled
    background-color: #ccc !important
    border-color: transparent !important
    &:hover
      svg
        polyline
          stroke: #fff !important

  &:hover, &:focus
    background-color: transparent
    color: map-get($colors, textDark)
    svg
      polyline
        stroke: map-get($colors, textDark)

  svg
    margin-left: 4px
    polyline  
      stroke: map-get($colors, textLight)

.noText
  svg
    margin-left: 0
  