@import "../../styles/_partials"

.container
	position: relative
	display: flex
	flex-direction: column
	max-width: 120px

.wrapper
	position: relative
	transform: rotate(-90deg)
	user-select: none

.svg
	display: block
	margin: 1rem auto

.background, .foreground
	fill: none

.foreground
	transition: stroke-dashoffset 850ms ease-in-out

.progressText
	display: inline-block
	position: absolute
	left: 50%
	top: 29%
	transform: translateX(-50%)
	font-size: 1rem
	font-weight: 900
	letter-spacing: 0.3px
	opacity: 80%
	user-select: none

.label
	text-align: center
	font-weight: 600
	word-wrap: wrap
	user-select: none