@import "../../styles/_partials"

@mixin windowStyle
	overflow-y: scroll
	-ms-overflow-style: none
	scrollbar-width: none
	box-shadow: $shadowMedium
	border-radius: 2px
	transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1)
	webkit-overflow-scrolling: touch
	transition: transform 0.3s ease-in-out
	&::-webkit-scrollbar
		display: none
	&:hover
		transform: scale(1.1)

// Työnäyte.
.tyonayte
	display: grid
	grid-auto-flow: row
	justify-items: center
	gap: 3rem
	text-align: center

// Näyteinfo.
.infoWrapper
	order: -1
	max-width: 600px
.nayteHeader
	@include smallHeader
.score
	transform: translateX(-10px)

// View Screens.
.inverted
	.views
		order: 1
.views
	position: relative
	display: inline-flex
	flex-direction: column
.desktopView
	@include windowStyle
	display: none
.mobileView
	@include windowStyle
	z-index: 1
	display: inline-block
	margin: auto

@include tablet
	.desktopView
		display: inline-block // Make visible.
	.mobileView
		position: absolute
		top: 30%
		left: 73%
	
// @include desktop
// 	.tyonayte
// 		grid-auto-flow: column
// 		justify-content: center
// 		gap: 6rem
// 	.infoWrapper
// 		order: 0
// 		flex: 0.7