@use "@/partials/typography"
@use "@/partials/spacing"
@use "@/partials/breakpoints"
@use "@/partials/colors"
@use "@/partials/shadows"

.hero
	@include spacing.hero
	text-align: center

.pageOverline
	@include typography.headerSmall
	letter-spacing: 1px

.pageHeader
	@include typography.headerMain
	letter-spacing: 1px

.pageDescription
	@include typography.headerDescription
	display: inline-block
	font-weight: 400

// Posts.
.postsContainer
	@include spacing.section
	padding-top: 0 !important
	display: grid
	place-content: center

.post
	display: grid
	// grid-template: auto / auto auto
	grid-template: auto auto / auto
	align-items: center

.postImageWrapper
	max-width: 420px

.postHeader
	@include typography.headerMedium
	display: inline-block
	text-decoration: underline
	margin: 0

@include breakpoints.laptop
	.postsContainer
	.post
		grid-template: auto / minmax(auto, 420px) minmax(auto, 600px)
		gap: 2rem