@use "@/partials/typography"
@use "@/partials/spacing"
@use "@/partials/colors"

.container
	@include spacing.hero

// Blog Content.
.blogArticle
	display: grid
	gap: 2rem
	place-content: center

.mainImageWrapper
	max-width: 900px
	width: 100%

.descriptionHeader
	@include typography.headerMedium

.mainHeader
	@include typography.headerMain
	max-width: 800px