@import "../_partials"

.section
  display: flex
  justify-content: center
  margin-top: 2rem
  align-items: center
  min-height: 100vh
  // background: url("/backgrounds/form-background.png")
  background-size: cover
  background-position: right center
  background-repeat: no-repeat

.etusivu
  padding: map-get($padding, mobile)

.header
  font-size: 1.75rem
  font-weight: 800

.help
  font-size: 1rem
  opacity: 0.8
  margin-top: 0

.helpIcon
  font-size: 1.5rem
  margin-right: 0.25rem
  vertical-align: middle

@media (min-width: map-get($bp, laptop))
  .section
    padding: map-get($padding, laptop)