$primary: #0A72EF
$primaryLight: #66a7ff
$secondary: #DA202B
$dark: #000
$lighterDark: #38444D
$gray: #666
$light: #ffffff
$bglight: #ffffff
$green: #05c46b
$blue: #007CF0
$red: #DA202B
$yellow: #ffd32a
$grad1: linear-gradient(to right, #007CF0, #00DFD8)
$grad2: linear-gradient(to right, #7928CA, #FF0080)
$grad3: linear-gradient(to right, #FF4D4D, #F9CB28)