@use "@/partials/breakpoints"

@mixin section
	padding: 2em 5vw
	@include breakpoints.tablet
		padding: 3rem 5vw
	@include breakpoints.laptop
		padding: 4rem 8vw
	@include breakpoints.desktop
		padding: 5rem 10vw
	
@mixin hero
	padding: 4em 5vw
	@include breakpoints.tablet
		padding: 6em 5vw
	@include breakpoints.laptop
		padding: 10rem 8vw
	@include breakpoints.desktop
		padding: 12em 8vw
		padding-bottom: 8rem