@use "@/partials/breakpoints"

@mixin section
	padding: 2em 5vw
	@include breakpoints.tablet
		padding: 3rem 5vw
	@include breakpoints.laptop
		padding: 4rem 8vw
	@include breakpoints.desktop
		padding: 5rem 10vw
	
@mixin hero
	padding: 5rem 5vw
	@include breakpoints.tablet
		padding: 7rem 5vw
	@include breakpoints.laptop
		padding: 7rem 8vw
	@include breakpoints.desktop
		padding: 8rem 10vw