@use "@/partials/colors"
@use "@/partials/breakpoints"

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$lineheight: 1.6
$headerLineheightSmall: 1.3
$headerLineheightBig: 1.45

@mixin headerDescription
	font-size: 1.15rem
	font-weight: 400
	letter-spacing: -0.02em
	line-height: $headerLineheightBig
	color: colors.$gray
	max-width: 800px
	margin-top: 0
	@include breakpoints.lgPhone
		font-size: 1.3rem

@mixin headerMain
	font-size: 1.4rem
	font-weight: 800
	letter-spacing: -0.02em
	line-height: $headerLineheightSmall
	color: colors.$dark
	margin-top: 0
	margin-bottom: 0.5em
	@include breakpoints.mdPhone
		font-size: 1.6rem
	@include breakpoints.lgPhone
		font-size: 2.5rem
	@include breakpoints.tablet
		font-size: 3rem
	@include breakpoints.laptop
		font-size: 3.5rem

@mixin headerMedium
	font-size: 1.2rem
	font-weight: 700
	letter-spacing: -0.02em
	line-height: $headerLineheightBig
	color: colors.$dark
	@include breakpoints.lgPhone
		font-size: 1.5rem
	@include breakpoints.tablet
		font-size: 1.8rem
	
@mixin headerSmall
	font-size: 1.1rem
	font-weight: 600
	line-height: $headerLineheightBig
	color: colors.$dark
	@include breakpoints.lgPhone
		font-size: 1.2rem
	@include breakpoints.tablet
		font-size: 1.3rem