@use "@/partials/breakpoints"
@use "@/partials/colors"

// Layout.
.container
	display: flex
	flex-direction: column
	justify-content: center
	text-align: centera
	color: colors.$gray

// Media queries.
@include breakpoints.laptop
	.container
		text-align: left