@import "../../styles/_partials"

// Layout.
.container
	display: flex
	flex-direction: column
	justify-content: center
	text-align: centera
	color: $gray

// Media queries.
@include laptop
	.container
		text-align: left