@use "@/partials/spacing"
@use "@/partials/breakpoints"
@use "@/partials/typography"
@use "@/partials/colors"

$fadeSpeed: 1500ms

// Display animations.
@keyframes fader
	0%
		opacity: 0%
	50%
		opacity: 100%
	100%
		opacity: 0%

@keyframes reverseFader
	0%
		opacity: 100%
	50%
		opacity: 50%
	100%
		opacity: 100%

.fadeAnimation
	animation: fader $fadeSpeed 1

.reverseFadeAnimation
	&::before
		animation: reverseFader $fadeSpeed 1

.salesPitch
	display: block
	font-size: 2.2rem
	font-weight: 900
	line-height: 1.1em
	margin: 0
	
.highlightBackground, .highlightBackground2, .highlightBackground3, .salesPitch
	letter-spacing: -0.01em !important

.highlightBackground
	position: relative
	display: block
	user-select: none
	&::before
		position: absolute
		display: block
		user-select: none
		width: 100%
		top: 0
		bottom: 0
		left: 0
		z-index: 0
		content: "Suunnittelemme."

.highlightBackground2
	position: relative
	display: block
	user-select: none
	&::before
		position: absolute
		display: block
		user-select: none
		width: 100%
		top: 0
		bottom: 0
		left: 0
		z-index: 0
		content: "Kehitämme."

.highlightBackground3
	position: relative
	display: block
	user-select: none
	&::before
		position: absolute
		display: block
		user-select: none
		width: 100%
		top: 0
		bottom: 0
		left: 0
		z-index: 0
		content: "Autamme."

.highlightForeground
	position: relative
	z-index: 1
	opacity: 0
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent)
		background-image: linear-gradient(to right, #007CF0, #00DFD8)
		background-clip: text
		-webkit-text-fill-color: transparent

.highlightForeground2
	position: relative
	z-index: 1
	opacity: 0
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #7928CA, #FF0080)
		background-clip: text
		-webkit-text-fill-color: transparent

.highlightForeground3
	position: relative
	z-index: 1
	opacity: 0
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #FF4D4D, #F9CB28)
		background-clip: text
		-webkit-text-fill-color: transparent	
	
// Content.
.description
	@include typography.headerDescription
	max-width: 720px

.ctaButtons
	display: grid
	margin: 2rem 0
	gap: 1rem

.scrollLink
	display: flex
	place-items: center
	justify-content: center
	margin-top: 1rem
	font-size: 2rem
	color: colors.$gray
	transition: color 200ms linear
	&:hover
		color: colors.$dark

// Layout.
.section
	@include spacing.hero
	display: grid
	place-items: center

.content
	display: grid
	place-items: center
	text-align: center

// Media queries.
@include breakpoints.mdPhone
	.salesPitch
		font-size: 2.5rem
@include breakpoints.lgPhone
	.salesPitch
		font-size: 2.8rem
@include breakpoints.tablet
	.salesPitch
		font-size: 4rem
	.ctaButtons
		grid-auto-flow: column
		justify-content: center
		margin: 3rem 0

@include breakpoints.laptop
	.salesPitch
		font-size: 5rem

@include breakpoints.desktop
	.salesPitch
		font-size: 7rem