@use "@/partials/breakpoints"
@use "@/partials/typography"
@use "@/partials/spacing"

.section
	@include spacing.section
	display: grid
	justify-items: center
	padding-bottom: 6rem !important

.description
	@include typography.headerDescription
	text-align: center
	margin-top: 0

.lisapalvelutHeader
	@include typography.headerMedium
	margin-bottom: 0
	margin-top: 4rem
	text-align: center

.ccButton
	margin-top: 1rem