@use "@/partials/breakpoints"
@use "@/partials/spacing"
@use "@/partials/typography"

.section
	@include spacing.section
	display: grid
	justify-items: center

.description
	@include typography.headerDescription
	margin-top: 1rem
	margin-bottom: 3rem

// MEDIA QUERIES.
@include breakpoints.tablet
	.description
		text-align: center