@import "../../styles/_partials"

.section
	@include spacing
	padding-top: 2rem !important
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.header
	@include mainHeader