@import "../../styles/_partials"

.section
	@include spacing
	padding-top: 2rem !important
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.header
	@include mainHeader
	text-align: center
	margin-bottom: 2rem
	max-width: 80% !important

.buttonWidth
	a
		min-width: 100px