@import "../../styles/_partials"

.section
	@include spacing

.headers
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center

.help
	font-style: italic

.naytteet
	position: relative
	display: grid
	grid-auto-flow: row
	gap: 6rem
	margin-top: 3rem

.header
	@include mainHeader
	margin-bottom: 0 !important

@include tablet
	.naytteet
		gap: 8rem

@include desktop
	.naytteet
		gap: 10rem
	.headers
		margin-bottom: 5rem