@import "../../styles/_partials"

.section
	@include spacing

.content
	display: grid

.naytteetWrap
	display: grid
	grid-auto-flow: row
	gap: 4rem
	margin-top: 1.33rem

.header
	@include headerBig

@include tablet
	.naytteetWrap
		gap: 6rem

@include desktop
	.naytteetWrap
		gap: 10rem
	.content
		place-items: center