@import "../../styles/_partials"

// Layout.
.ominaisuudet
	@include spacing
	padding-top: 0 !important
	display: grid
	grid-auto-flow: row
	justify-items: center
	gap: 2rem

.fadeWrapper
	&:first-of-type
		.iconWrapper
			background-color: $green
	&:nth-of-type(2)
		.iconWrapper
			background-color: $blue
	&:nth-of-type(3)
		.iconWrapper
			background-color: $red

// Ominaisuus.
.ominaisuus
	max-width: 400px
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	text-align: center

.iconWrapper
	display: inline-flex
	justify-content: center
	align-items: center
	width: 50px
	height: 50px
	border-radius: 100%
	color: $light
	font-size: 1.5rem
	margin-bottom: 1rem

// Content.
.header
	@include headerSmall
	display: block
	

// Animations and keyframes.
.growing
	animation: grow 1s infinite linear
.spinning
	animation: rotation 3s infinite linear
.bouncing
	animation: bounce 1s infinite ease-in-out

@keyframes rotation
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)
@keyframes bounce
	0%
		transform: translateY(-2px)
	50%
		transform: translateY(6px)
	100%
		transform: translateY(-2px)
		
@keyframes grow
	0%
		transform: scale(1)
	50%
		transform: scale(1.2)
	100%
		transform: scale(1)
	
// Media queries.
@include laptop
	.ominaisuudet
		grid-auto-flow: column
		justify-content: space-evenly
		gap: 4rem
	.fadeWrapper
		margin-top: 0 !important