@use "@/partials/colors"
@use "@/partials/typography"
@use "@/partials/breakpoints"
@use "@/partials/spacing"

// Layout.
.section
	@include spacing.section
	padding-top: 0 !important

// Ominaisuus.
.ominaisuudet
	display: grid

.ominaisuus
	max-width: 380px
	height: 100%
	margin-top: 2rem
	p
		margin-bottom: 0

// Content.
.header
	@include typography.headerSmall
	display: block
	padding: 0.5rem 1rem
	text-align: center
	border-radius: 9999px
	background-color: colors.$dark
	color: colors.$light
	
// Animations and keyframes.
.growing
	animation: grow 1s infinite linear
.spinning
	animation: rotation 3s infinite linear
.bouncing
	animation: bounce 1s infinite ease-in-out

@keyframes rotation
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)
@keyframes bounce
	0%
		transform: translateY(-2px)
	50%
		transform: translateY(6px)
	100%
		transform: translateY(-2px)
		
@keyframes grow
	0%
		transform: scale(1)
	50%
		transform: scale(1.2)
	100%
		transform: scale(1)
	
@include breakpoints.laptop
	.ominaisuudet
		grid-auto-flow: column
		gap: 4rem
	.ominaisuus
		margin-top: 0

@include breakpoints.desktop
	.ominaisuudet
		place-content: center
		gap: 5rem