@use "@/partials/breakpoints"
@use "@/partials/spacing"
@use "@/partials/typography"

.section
	@include spacing.section
	display: grid
	place-content: center
	place-items: center

.headersWrap
	text-align: center

.headerMain
	@include typography.headerMain

.headerDescription
	@include typography.headerDescription
	text-align: center

@include breakpoints.laptop
	.headerMain
		text-align: center
		max-width: 1024px
	.headerDescription
		text-align: center