@import "../../styles/_partials.sass"

// Layout.
.section
	@include spacing
	min-height: 100vh
	display: grid

.content
	display: grid

.headerMain
	@include headerMain

@include tablet
	.section
		padding-bottom: 4rem !important
	.section
		gap: 4rem

@include laptop
	.textContent
		display: grid
		grid-auto-flow: column
		gap: 3rem

@include desktop
	.content
		place-items: center
	.headerMain
		text-align: center