@import "../../styles/_partials.sass"

// Layout.
.section
	@include spacing

.content
	display: grid

.headerMain
	@include headerMain
	max-width: 900px

@include tablet
	.section
		padding-bottom: 4rem !important

@include laptop
	.header
		max-width: 800px
	.textContent
		display: grid
		grid-auto-flow: column
		gap: 2rem

@include desktop
	.content
		place-items: center
	.textContent
		gap: 4rem