@import "../../styles/_partials"

.section
	@include spacing
	margin-top: 3rem

.column
	display: grid
	justify-items: center
	p:last-of-type
		margin-bottom: 0
		padding-bottom: 0

.list
	list-style: none
	margin: 0
	padding: 0
	p
		margin-top: 0
		margin-bottom: 2rem !important
		max-width: 460px

.listHeader
	@include headerMedium

.listParagraph
	font-size: 1rem
	color: $gray
	max-width: 500px

// Media queries.
@include laptop
	.list
		margin-top: 2rem
		padding-left: 2rem
	.imgWrapper
		min-width: 280px
		align-self: flex-start
	.column
		grid-auto-flow: column
		justify-items: center
		gap: 3rem
		p:first-of-type
			justify-self: flex-end
		p:last-of-type
			justify-self: flex-start
		ul
			justify-self: flex-start
		
@include desktop
	.imgWrapper
		justify-self: end
		transform: translateX(-30px)
		align-self: center
	.column
		&:last-of-type
			gap: 3rem