@use "@/partials/breakpoints"
@use "@/partials/typography"
@use "@/partials/colors"
@use "@/partials/spacing"

.section
	@include spacing.section
	padding-bottom: 0 !important

.descriptions
	display: grid
	p
		margin-top: 0

// Lists.
.list
	display: grid
	margin-top: 1rem
	p
		margin-top: 0

.listHeader
	@include typography.headerMedium

// Media queries.
@include breakpoints.tablet
	.descriptions
		justify-items: center
		text-align: center
	.list
		justify-items: center
		text-align: center
		
@include breakpoints.laptop
	.list
		margin-top: 2rem
	
@include breakpoints.desktop
	.list
		margin-top: 3rem
		gap: 4rem
		grid-template: auto / 1fr 1fr 1fr