@use "@/partials/breakpoints"
@use "@/partials/typography"
@use "@/partials/colors"
@use "@/partials/spacing"

.section
	@include spacing.section

.descriptions
	display: grid
	p
		margin-top: 0

// Lists.
.list
	display: grid
	margin-top: 1.5rem
	gap: 1rem
	p
		margin-top: 0

.listHeader
	@include typography.headerMedium
	font-weight: 800
	letter-spacing: 0.005em
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent)
		background-image: linear-gradient(to right, #007CF0, #00DFD8)
		background-clip: text
		-webkit-text-fill-color: transparent

// Media queries.
@include breakpoints.tablet
	.descriptions
		justify-items: center
		text-align: center
	.list
		justify-items: center
		text-align: center
		
@include breakpoints.laptop
	.list
		margin-top: 2rem