@import "../../styles/_partials"

.button
	width: 100%
	padding: 1rem 2rem
	background-color: $dark
	color: $light
	border: none
	outline: none
	user-select: none
	cursor: pointer
	text-align: left
	letter-spacing: 1px
	font-size: 1rem
	&:hover, &:focus, &:active
		background-color: $lighterDark
	
.contentWrapper
	overflow: hidden

.innerWrapper
	padding: 1rem 0

.paragraph
	max-width: 100%