@use "@/partials/colors"
@use "@/partials/breakpoints"

.button
	width: 100%
	padding: 0.5rem 1rem
	background-color: colors.$dark
	color: colors.$light
	border: none
	outline: none
	user-select: none
	cursor: pointer
	text-align: left
	letter-spacing: 1px
	font-size: 1rem
	&:hover, &:focus, &:active
		background-color: colors.$lighterDark
	
.contentWrapper
	overflow: hidden

.innerWrapper
	padding: 1rem 0

.paragraph
	max-width: 100%
	margin-top: 0
	margin-bottom: 1.6rem

@include breakpoints.tablet
	.button
		padding: 1rem