@use "@/partials/breakpoints"
@use "@/partials/typography"
@use "@/partials/spacing"

.section
	@include spacing.section
	display: flex
	flex-direction: column
	align-items: center

.header
	@include typography.headerMain