@import "../../styles/_partials"

.inputWrapper
  display: flex
  flex-direction: row
  align-items: center

.withRow
  flex-direction: column
  align-items: flex-start

.input
  order: 1

  &[type="checkbox"]
    order: 0
    cursor: pointer
    height: 20px
    width: 20px
    padding: 0
    margin: 0
    margin-right: 1rem
  &[type="text"]
    width: 100%
    margin-top: 1rem
    border: none
    border-bottom: 1px solid #ccc
    padding: 0.5rem
    background-color: $lightGray
    &:focus, &:active
      outline: none
      border-bottom: 1px solid #888

.label
  cursor: pointer
  font-weight: 600

.info
  max-width: 600px
  color: $darkGray
  cursor: pointer
  display: inline-block