@import "../../styles/_partials"

.logo // a
  position: relative
  display: inline-block
  font-weight: 900
  font-size: 2rem
  letter-spacing: 1px
  color: $dark
  user-select: none
  overflow: hidden
  &:hover
    color: $primary
  @include hoverFill($dark)

.invert
  color: $light
  @include hoverFill($light)
