@use "@/partials/colors"
@use "@/partials/breakpoints"
@use "@/partials/misc"

.nav
	display: none

.navList
	display: flex
	flex-direction: row
	align-items: center
	gap: 2rem
	padding: 0
	margin: 0
	list-style: none

.navLink
	color: colors.$dark
	font-weight: 600
	font-size: 1.2rem
	@include misc.hoverFill(colors.$dark)

@include breakpoints.laptop
	.nav
		background-color: colors.$bglight
		display: flex
		justify-content: space-around
		align-items: center
		margin-top: 3rem
		border-bottom: 1px solid #eaeaea
		width: 100%
	.navList
		padding: 1rem 0