@use "@/partials/colors"
@use "@/partials/breakpoints"
@use "@/partials/misc"

.nav
	z-index: 999
	display: grid
	grid-auto-flow: column
	align-items: center
	justify-content: space-around
	position: relative
	width: 100%
	padding: 0.65rem 1rem
	background-color: colors.$light
	background-color: hsla(0,0%,100%,0.8)
	backdrop-filter: saturate(180%) blur(5px)
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1)

.links
	display: none

.description
	display: inline-block
	font-weight: 600

@include breakpoints.laptop
	.description
		display: none
	.links
		display: grid
		grid-auto-flow: column
		align-items: center
		gap: 2rem
	.link
		font-size: 1.1rem
		font-weight: 500
		color: colors.$gray
		&:hover
			color: colors.$dark