@import "../../styles/_partials"

.overlay
	z-index: 999
	height: 100vh
	width: 100vw
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	left: 0
	top: 0
	background-color: $dark
	animation: overlayAnimation 400ms ease-in-out
	// animation: overlayAnimation 0.33s 1

@keyframes overlayAnimation
	from 
		opacity: 0
		transform: translateY(-100vh)
	to 
		opacity: 1
		transform: translateY(0)