@use "@/partials/breakpoints"

.outerWrapper
	position: relative

.innerWrapper
	position: relative
	transform: rotate(-90deg)
	
.svg
	margin: auto
	display: block

.centerLabel
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)

.label
	display: inline-block
	text-align: center
	margin-top: 0.33rem
	font-size: 0.7rem

.background, .foreground
	fill: none

.foreground
	animation-direction: forwards

@include breakpoints.tablet
	.container
		font-size: 1rem