@use "@/partials/breakpoints"

.container
	display: grid
	grid-template-columns: repeat(auto-fill, minmax(min-content, 60px))
	gap: 0.66rem
	text-align: center
	user-select: none

@include breakpoints.tablet
	.container
		gap: 2rem