@use "@/partials/breakpoints"

.container
	display: grid
	grid-auto-flow: column
	grid-template: auto / repeat(4, 60px)
	gap: 0.66rem
	text-align: center
	user-select: none

@include breakpoints.tablet
	.container
		gap: 2rem