@import "../../styles/_partials"

.container
	display: grid
	grid-template: auto / auto auto
	justify-content: flex-start
	gap: 2rem
	text-align: center
	font-weight: 500
	user-select: none

@include tablet
	.container
		grid-auto-flow: column