@import "../../styles/_partials"

.indicator
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center

.line
	display: inline-flex
	height: 100px
	width: 1px
	margin-top: 1rem

.sphere
	display: inline-flex
	color: $light
	font-weight: 600
	width: 40px
	height: 40px
	border-radius: 100%
	font-size: 1.1rem
	justify-content: center
	align-items: center
	user-select: none

.overline
	margin-top: 1.33rem
	margin-bottom: 0.4rem
	font-size: 1.9rem
	letter-spacing: -0.03em
	font-weight: 700
	text-transform: capitalize
	user-select: none

.headerMain
	@include headerMain
	text-align: center

.line1
	background: linear-gradient(rgba(0, 0, 0, 0),#007CF0 )
.line2
	background: linear-gradient(rgba(0, 0, 0, 0),#7928CA )
.line3
	background: linear-gradient(rgba(0, 0, 0, 0),#FF4D4D )

.overline1
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent)
		background-image: linear-gradient(to right, #007CF0, #00DFD8)
		background-clip: text
		-webkit-text-fill-color: transparent
.overline2
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #7928CA, #FF0080)
		background-clip: text
		-webkit-text-fill-color: transparent
.overline3
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #FF4D4D, #F9CB28)
		background-clip: text
		-webkit-text-fill-color: transparent		

.first
	background: $gradient1
.second
	background: $gradient2
.third
	background: $gradient3

@include laptop
	.header
		text-align: left