@import "../../styles/_partials"

// Työnäyte.
.tyonayte
  display: grid
  gap: 2rem
  grid-auto-flow: row
  justify-content: center

.views
  max-width: 700px

// Näyteinfo.
.infos
  order: -1
  max-width: 600px
.nayteHeader
  font-weight: 600
.score
  transform: translateX(-10px)

// Näyte View.
.inverted
  .views
    order: 1
.views
  position: relative
  display: flex
  flex-direction: column
.desktopView
  display: none
  overflow: scroll
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.33)
  -ms-overflow-style: none
  scrollbar-width: none
  &::-webkit-scrollbar
    display: none
.mobileView
  display: block
  overflow: scroll
  box-shadow: 0px 0px 36px rgba(0, 0,0, 0.33)
  -ms-overflow-style: none
  scrollbar-width: none
  z-index: 1
  border-radius: 8px
  &::-webkit-scrollbar
    display: none
  
// Palette.
.palette
  display: grid
  grid-auto-flow: column
  justify-content: flex-start
  gap: 1rem
  margin-bottom: 2rem
.paletteBall
  width: 2rem
  height: 2rem
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2)
  border-radius: 9999px
  
@include tablet
  .desktopView
    display: block
    width: 100% !important
  .mobileView
    position: absolute
    top: 30%
    left: 65%
  
@include laptop
  .desktopView
    width: auto !important

@include desktop
  .tyonayte
    grid-auto-flow: column
    gap: 6rem
  .views
    display: flex
    flex-direction: row
    flex: 1
  .infos
    order: 0
    flex: 0.7