@import "../../styles/_partials"

.section
	@include spacing

.wrapper
	display: flex
	flex-direction: column
	align-items: center
	align-content: center

.texts
	margin-bottom: 1.33rem

.header
	@include bigHeader
	text-align: center
	
.description
	@include descriptionHeader
	text-align: center

@include tablet
	.section
		gap: 3rem
	.texts
		margin-bottom: 2rem
	
@include laptop
	.texts
		display: grid
		grid-template: auto / 1fr 1fr