@import "../styles/_partials.sass"

.container
  display: flex
  align-items: center
  gap: 0.75rem
.contactLink
  display: flex
  align-content: center
  align-items: center
  color: #fff
.contactText
  display: none
.icon
  font-size: 1.2rem

@media (min-width: map-get($bp, tablet))
  .container
    gap: 3rem !important
  .contactText
    display: inline-block
    margin-left: 0.5rem