@import "../../styles/_partials"

.widget
	z-index: 99
	display: inline-block
	align-self: flex-start
	justify-self: flex-start
	position: sticky
	top: 20px
	margin: 2rem 0
	padding: 0.5rem 1rem
	border-radius: 2px
	background-color: $dark
	color: $light
	font-weight: 600

.alv
	font-size: 0.8rem
	opacity: 0.6

@include tablet
	.widget
		top: 60px
