@import "../../styles/_partials"

.widget
	z-index: 1
	position: sticky
	top: 20px
	display: inline-block
	padding: 0.5rem 1rem
	border-radius: 4px
	background-color: $dark
	color: $light
	font-weight: 600
	margin: 2rem 0

@include tablet
	.widget
		top: 60px
