// Colors settings.
$primary: #0A72EF
$primaryLight: #66a7ff
$secondary: #DA202B
// $dark: #1e272e
$dark: #000
$lighterDark: #38444D
$gray: #666
$light: #ffffff
$bglight: #ffffff
$green: #05c46b
$blue: #007CF0
$red: #DA202B
$yellow: #ffd32a
$gradient1: linear-gradient(to right, #007CF0, #00DFD8)
$gradient2: linear-gradient(to right, #7928CA, #FF0080)
$gradient3: linear-gradient(to right, #FF4D4D, #F9CB28)

// Typography settings.
$font: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
$bodyLineheight: 1.6

// Shadows settings.
$shadowSmall: 0 8px 30px rgba(0,0,0,0.12)
$shadowMedium: 0 8px 30px rgba(0,0,0,0.12)
$shadowLarge: 0 30px 60px rgba(0,0,0,0.12)

// Mixins.
@mixin mdPhone
	@media (min-width: 360px)
		@content
@mixin bigPhone
	@media (min-width: 425px)
		@content
@mixin tablet
	@media (min-width: 768px)
		@content
@mixin laptop
	@media (min-width: 1024px)
		@content
@mixin desktop
	@media (min-width: 1440px)
		@content
@mixin bigDesktop
	@media (min-width: 1920px)
		@content
@mixin biggestDesktop
	@media (min-width: 2560px)
		@content	
	
@mixin spacing
	padding: 3rem 5vw
	@include tablet
		padding: 5rem 5vw
	@include laptop
		padding: 8rem 8vw
	@include desktop
		padding: 10rem 10vw

// Headers.
@mixin headerDescription
	font-size: 1.15rem
	font-weight: 400
	letter-spacing: -0.02em
	line-height: 1.45
	color: $gray
	max-width: 800px
	@include bigPhone
		font-size: 1.3rem

@mixin headerMain
	font-size: 2rem
	font-weight: 800
	letter-spacing: -0.02em
	line-height: 1.3
	color: $dark
	margin-top: 0
	margin-bottom: 0.5em
	@include laptop
		font-size: 3.5rem

@mixin headerBig
	font-size: 1.3rem
	font-weight: 800
	letter-spacing: -0.02em
	line-height: 1.45
	color: $dark
	margin-top: 0
	margin-bottom: 0.5em
	@include bigPhone
		font-size: 1.5rem
	@include tablet
		font-size: 2.3rem
		line-height: 1.3
	@include laptop
		font-size: 3.5rem
	
@mixin headerMedium
	font-size: 1.2rem
	font-weight: 700
	letter-spacing: -0.02em
	line-height: 1.45
	color: $dark
	@include bigPhone
		font-size: 1.4rem
	@include tablet
		font-size: 1.7rem
	
@mixin headerSmall
	font-size: 1.1rem
	font-weight: 600
	line-height: 1.45
	color: $dark
	@include bigPhone
		font-size: 1.2rem
	@include tablet
		font-size: 1.3rem
	
@mixin hoverFill($baseColor)
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent)
		background: linear-gradient(to right, $primary, $primary 50%, $baseColor 50%)
		background-clip: text
		-webkit-text-fill-color: transparent
		background-size: 200% 100%
		background-position: 100%
		transition: background-position 275ms ease
		&:hover
			background-position: 0 100%