// https://paletton.com/#uid=73D0u0k++kEZHx5+Wq6+Zf5+V7Y

$colors: (primary: #002f6c, secondary: #FFC900,	textLight: #ffffff, textDark: #00122a, textGray: #586069, link: #0074de, linkAlt: #3894e8)

$bp: (tablet: 768px, laptop: 1024px, desktop: 1440px)

$padding: (mobile: 3rem 5vw, laptop: 5rem 10vw)

$margin: (mobile: 2rem 0, laptop: 2rem 0) 