@import "_partials"

// Layout.
.benefits
	display: flex
	flex-direction: column
	margin-top: 2rem

// Headers.
.benefitHeader
	font-size: 1.75rem
	font-weight: 900
	line-height: 1.3

// Content.
.benefitsList
	list-style: square
	padding: 1em
	div
		&:not(:first-of-type)
			margin-top: 1.5rem
.benefitSubheader
	max-width: $sectionHeaderWidth
	display: block
	margin-bottom: 0.5rem
	font-size: 1.5rem
	font-weight: 600
	line-height: 1.3
.benefitItem
	&::marker
		font-size: 1.2rem
		color: map-get($colors, secondary)

// Media queries.
@include laptop
	.benefits
		margin-top: 7rem
		transform: translateX(20%)
	.benefitsList
		div
			&:not(:first-of-type)
				margin-top: 2rem
	.benefitItem
		max-width: 550px