@import "_partials.sass"

.section
	background-image: url("../public/background.jpg")
	background-position: center center
	background-size: cover
	background-repeat: no-repeat

.content
	position: relative
	padding: map-get($padding, mobile)
	color: map-get($colors, textLight)
	letter-spacing: 0.02rem

.paperAirplane
	position: absolute
	bottom: 0
	right: 0
	transform: scaleX(-1)

.header
	display: inline-block
	margin-bottom: 1.5rem
	font-weight: 600
	letter-spacing: 0.075rem

.subheader
	color: rgba(255, 255, 255, 0.85)
	margin-bottom: 1.5rem

.form
	max-width: 600px

.label
	font-size: 1rem

.input
	width: 100%
	padding: 0.5rem
	margin: 0.5rem auto
	border: 2px solid #ccc
	border-radius: 10px
	background-color: rgba(0, 0, 0, 0.1)
	color: #eee
	font-size: 0.9rem
	&:focus
		outline: none
		border: 2px solid map-get($colors, secondary)

.submit
	padding: 0.75rem 1.5rem
	margin-top: 1rem
	border: none
	border-radius: 9999px
	color: map-get($colors, textLight)
	background-color: map-get($colors, highlight)
	cursor: pointer
	font-size: 1rem
	text-transform: uppercase
	letter-spacing: 0.1rem
	transition: all 0.2s ease

	&:focus
		outline: none
	&:hover 
		padding: 0.75rem 2rem

@media (min-width: map-get($bp, laptop))
	.content
		padding: map-get($padding, laptop)