@import "_partials.sass"

.section
	margin: map-get($padding, mobile)

.form
	max-width: 600px

.input
	width: 100%
	padding: 0.5rem
	margin: 0.5rem auto
	border: 2px solid #ccc
	border-radius: 10px

	&:focus
		outline: none
		border: 2px solid map-get($colors, secondary)

.submit
	width: 100%
	padding: 1rem
	margin-top: 1rem
	text-transform: uppercase
	letter-spacing: 0.05rem
	font-weight: 900
	border-radius: 9999px
	color: map-get($colors, textLight)
	background-color: map-get($colors, primary)
	cursor: pointer
	border: none
	transition: all 0.2s ease

	&:focus
		outline: none

	&:hover
		background-color: map-get($colors, secondary)
		color: map-get($colors, textDark)

@media (min-width: map-get($bp, laptop))
	.section
		margin: map-get($padding, laptop)