@import "partials"

$lightColor: #8595A1

// Layout.
.footer
	@include spacing
	z-index: 1
	display: grid
	justify-items: center
	text-align: center
	grid-auto-flow: row
	gap: 2rem
	background-color: $dark
	color: $light

.row
	display: grid

// Content.
.copyright
	display: inline-block
	color: $gray

.ctaHeader
	font-size: 1.5rem
	font-weight: 600
	letter-spacing: 0.3px

.subheader
	margin-top: 1.5rem
	margin-bottom: .33rem
	font-size: 1.3rem
	color: $gray

.link
	color: $light
	font-weight: 600
	font-size: 1.3rem

// Media queries.
@include desktop
	.footer
		grid-auto-flow: column
		grid-template-columns: 600px 200px 200px
		gap: 4rem
		justify-content: space-around
		text-align: left
	.subheader
		&:first-of-type
			margin-top: 0.66rem