@import "partials"

// Layout.
.footer
	@include spacing
	z-index: 1
	background-color: $dark
	color: $light
	a
		align-self: flex-start
		color: $light
		&:hover
			color: $primary

.column
	display: flex
	flex-direction: column

.row
	display: flex
	flex-direction: column

// Content.
.copyright
	display: inline-block
	color: $gray

.ctaHeader
	font-size: 1.5rem
	font-weight: 600
	letter-spacing: 0.3px
	margin-bottom: 1rem

.subheader
	margin-top: 2rem
	margin-bottom: 1rem
	font-size: 1.3rem
	color: $gray

.link
	font-weight: 600
	font-size: 1.3rem

// Media queries.
@include laptop
	.footer
		display: flex
		flex-direction: row
		gap: 8rem
	.row
		flex-direction: row
		gap: 8rem