@import "partials"

.functionButton
  padding: 8px 16px
  display: inline-flex
  align-items: center
  font-family: $font
  text-align: center
  font-size: 1.66rem
  font-weight: 600
  text-transform: uppercase
  border: none
  outline: none
  border-radius: 4px
  color: map-get($colors, textLight) !important
  background-color: map-get($colors, textGray)
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px
  transition: all 0.1s ease
  pointer-events: auto
  cursor: pointer
  background-color: map-get($colors, primary)
  // margin-top: 12px
  &:hover
    box-shadow: none
    background-color: map-get($colors, primaryLighter)
  &:focus
    background-color: map-get($colors, primaryLighter)
  svg
    margin-left: 4px
    polyline  
      stroke: map-get($colors, textLight)

.disabled
  background-color: map-get($colors, textGray) !important

.noText
  svg
    margin-left: 0
  
@media (min-width: map-get($bp, laptop))
  .functionButton
    padding: 6px 12px