@import "partials"

.functionButton
  min-width: 50px
  margin: 0.66rem 0
  padding: 0.75rem
  display: inline-flex
  align-items: center
  justify-content: center
  font-size: 1.5rem
  font-weight: 600
  transition: all 0.1s ease
  border-radius: 4px
  border: 1px solid map-get($colors, textDark)
  color: map-get($colors, textLight)
  background-color: map-get($colors, textDark)
  transition: all 0.2s ease
  pointer-events: auto
  cursor: pointer
  user-select: none

  &:disabled
    background-color: #ccc !important
    border-color: transparent !important
    &:hover
      svg
        polyline
          stroke: #fff !important

  &:hover
    background-color: transparent
    color: map-get($colors, textDark)
    svg
      polyline
        stroke: map-get($colors, textDark)

  &:focus
    outline-color: map-get($colors, secondary)
  
  svg
    margin-left: 4px
    polyline  
      stroke: map-get($colors, textLight)

.noText
  svg
    margin-left: 0
  