@import "partials"

.functionButton
  display: inline-flex
  align-items: center
  justify-content: center
  min-width: 200px
  margin: 0.66rem 0
  padding: 0.75rem
  font-size: 1.1rem
  font-weight: 600
  border-radius: 4px
  transition: all 0.1s ease
  border-radius: 4px
  color: map-get($colors, textLight) !important
  background-color: map-get($colors, textDark)
  border: 1px solid map-get($colors, textDark)
  transition: all 0.2s ease
  border: none
  pointer-events: auto
  cursor: pointer
  user-select: none

  &:focus
    outline-color: map-get($colors, secondary)
  
  svg
    margin-left: 4px
    polyline  
      stroke: map-get($colors, textLight)

.disabled
  background-color: map-get($colors, textGray) !important

.noText
  svg
    margin-left: 0
  