@import "_partials.sass"
@import "@fontsource/open-sans"
@import "@fontsource/open-sans/600.css"
@import "@fontsource/open-sans/800.css"

$defaultFont: -apple-system,BlinkMacSystemFont,"Open Sans","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif

*
	box-sizing: border-box
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-smooth: auto

// Selection highlight color
::selection
	color: #fff
	background: $primary

html
	// scroll-behavior: smooth
	background-color: $bglight

body
	margin: 0
	padding: 0
	font-size: $defaultFontSize
	font-family: $defaultFont
	line-height: 1.75
	color: $dark
	
input, textarea, button
	display: block
	font-family: $defaultFont
	font-size: $defaultFontSize

a
	text-decoration: none
	color: $primary
	cursor: pointer
	&:hover
		color: $primaryLight

p
	max-width: $sectionParagraphWidth
	margin-bottom: 1rem
	margin-top: 0
	letter-spacing: 0.1px

h1, h2, h3, h4, h5
	font-weight: 400
	line-height: 1.3

h1
	margin-top: 0
	font-size: $h1Size

h2
	font-size: $h2Size

h3
	font-size: $h3Size

h4
	font-size: $h4Size

h5
	font-size: $h5Size

small, .text_small
	font-size: 0.8rem

img
	display: block
	margin: 0
	padding: 0

// Custom classes.
.bold
	font-weight: 600

// Global media queries.
@include laptop
	body, input, textarea, button
		font-size: $bigFontSize
	.header
		max-width: 40rem
		margin-top: 2rem	
		font-size: $h1Size

@include desktop
	p
		max-width: 40rem