@use "@/partials/typography"
@use "@/partials/colors"
@use "@/partials/breakpoints"

// Basic resets.
html
	box-sizing: border-box
	font-size: 16px

*, *:before, *:after
	box-sizing: inherit
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	text-shadow: rgba(0,0,0,.01) 0 0 1px

input, textarea, select, button
	font-family: inherit
	font-size: inherit
	line-height: typography.$lineheight

body
	margin: 0
	padding: 0
	font-family: typography.$font 
	line-height: typography.$lineheight

ol, ul
	list-style: none
	margin: 0
	padding: 0

img
	max-width: 100%
	height: auto

::selection
	color: colors.$light
	background: colors.$primary

img
	display: block
	max-with: 100%
	height: auto

a
	text-decoration: none
	color: colors.$primary
	&:hover
		color: colors.$dark
	
p
	color: colors.$gray
	@include breakpoints.tablet
		max-width: 600px

// Custom classes.
.important
	font-weight: 600
	letter-spacing: 0.005em
	color: colors.$dark

.headerMain
	@include typography.headerMain
.headerDescription
	@include typography.headerDescription
.headerMedium
	@include typography.headerMedium