@import "_partials.sass"
$tabletWidth: 37rem
$laptopWidth: 50rem
$desktopSize: 63rem

.section
	padding: map-get($padding, mobile)

.content
	z-index: 1
	display: flex
	flex-direction: column
	align-items: center
	color: map-get($colors, textDark)
	text-align: center

.salesPitch
	display: block
	font-size: $h1Size
	line-height: 1.1
	font-weight: 800
	margin-top: 1rem
	margin-bottom: 3rem

.header
	margin-top: 0
	font-size: $h5Size

.lueLisaaContainer
	display: flex
	justify-content: center

.lueLisaaSvg
	max-width: 6rem
	margin: 2rem 0
	transition: all .4s ease-in-out
	&:hover
		transform: rotate(180deg)



.highlight
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #007CF0, #00DFD8)
		background-clip: text
		-webkit-text-fill-color: transparent
.highlight2
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #7928CA, #FF0080)
		background-clip: text
		-webkit-text-fill-color: transparent
.highlight3
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #FF4D4D, #F9CB28)
		background-clip: text
		-webkit-text-fill-color: transparent

// MEDIA QUERIES
	
@media (min-width: map-get($bp, tablet))
	.salesPitch
		max-width: $tabletWidth
		font-size: 4rem
	.header
		max-width: $tabletWidth

@media (min-width: map-get($bp, laptop))
	.section
		padding: map-get($padding, laptop)
	.salesPitch
		max-width: $laptopWidth
		font-size: 5rem
	.header
		font-size: $h3Size
		max-width: $laptopWidth


@media (min-width: map-get($bp, desktop))
	.salesPitch
		max-width: $desktopSize
		font-size: $h1Size * 2.2