@import "_partials.sass"

.section
	display: flex
	align-items: center
	justify-content: center
	min-height: 100vh
	position: relative
	padding: map-get($padding, mobile)

.particles
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	width: 100%
	height: 100%

.content
	color: #000
	text-align: center
	z-index: 1
	pointer-events: none

.header
	text-transform: uppercase
	margin-top: 0
	border-bottom: none

.subheader
	margin-bottom: 2rem
	font-size: 1.2rem
	font-weight: 100
	border-bottom: none

.arrow
	font-size: 3rem
	color: map-get($colors, primary)
	transition: all 0.3s ease
	pointer-events: auto

	&:hover
		color: map-get($colors, secondary)
		transform: scale(1.2)

@media (min-width: map-get($bp, tablet))
	.header
		font-size: 4rem

@media (min-width: map-get($bp, laptop))
	.content
		max-width: 800px

@media (min-width: map-get($bp, desktop))
		.header
			font-size: 5rem