@import "_partials.sass"

$textColor: map-get($colors, textLight)

.infobar
	z-index: 998
	display: flex
	justify-content: space-between
	align-items: center
	position: sticky
	left: 0
	top: 0
	right: 0
	height: $infobarHeight
	padding: 0 2rem
	background-color: map-get($colors, primary)
	font-size: 1rem

.contactLink
	display: flex
	align-content: center
	align-items: center
	color: $textColor !important

.contactText
	margin-left: 0.25rem

.divider
	display: block
	background-color: $textColor
	width: 1px
	height: 1.25rem
	opacity: 0.15
	content: ""
	margin: 0 0.33rem
	
@media (min-width: map-get($bp, tablet))
	.infobar
		justify-content: center
	.divider
		margin: 0 2rem
	.contactText
		display: inline-block

@media (min-width: map-get($bp, laptop))