@import "_partials.sass"

.content
	display: flex
	flex-direction: column
	gap: 2rem
	padding: map-get($padding, mobile)

.imageWrapper
	display: flex
	justify-content: center
	overflow: hidden

.image
	max-width: 125vw !important

.header
	margin-top: 0


@media (min-width: map-get($bp, laptop))
	.content
		padding: map-get($padding, laptop)