@import "_partials.sass"

.content
	display: flex
	flex-direction: column
	gap: 2rem
	margin: map-get($spaces, mobileContent)

.imageWrapper
	display: flex
	justify-content: center
	overflow: hidden

.image
	max-width: 125vw !important

.header
	margin-top: 0