@import "_partials"

// linear-gradient(to right, #FF4D4D, #F9CB28)

.section
	padding: map-get($padding, mobile)
	margin-top: 5rem

.content
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center

.suggestion
	display: block
	margin-top: 0
	font-size: $h3Size
	font-weight: 800
	line-height: $headerLineHeight
	margin-bottom: 2rem
	text-align: center
	max-width: $sectionHeaderWidth

.button
	padding: 1rem 2rem
	border-radius: 9999px
	color: map-get($colors, textDark)
	border: 2px solid map-get($colors, textDark)
	font-weight: 600
	letter-spacing: 0.1rem
	font-size: $h5Size
	cursor: pointer
	transition: all 0.1s ease

	&:hover
		border: 2px solid transparent
		color: inherit

@media (min-width: map-get($bp, tablet))
	.suggestion
		font-size: $h2Size

@media (min-width: map-get($bp, laptop))
	.suggestion
		font-size: $h1Size * 1.2
		max-width: $sectionHeaderWidth * 2