@import "_partials"

.section
	padding: map-get($padding, mobile)

.content
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center

.suggestion
	display: block
	margin-top: 0
	font-size: $h3Size
	font-weight: 800
	line-height: $headerLineHeight
	margin-bottom: 2rem
	text-align: center