@import "_partials"

// linear-gradient(to right, #FF4D4D, #F9CB28)

.section
	padding: map-get($padding, mobile)
	position: relative
	z-index: 1
	background-color: map-get($colors, bgLight)

.content
	display: flex
	flex-direction: column
	gap: 4rem

.preheader
	@include preheader
	color: map-get($colors, highlight)

.header
	display: block
	font-size: $h3Size
	font-weight: 800
	line-height: $headerLineHeight

.help
	font-size: 1rem
	opacity: 0.8
	margin-top: 0

.helpIcon
	font-size: 1.5rem
	margin-right: 0.25rem
	vertical-align: middle
	
.button
	display: inline-block
	margin-top: 1rem
	padding: 1rem 2.5rem
	border-radius: 9999px
	background-color: map-get($colors, primary)
	color: map-get($colors, textLight)
	text-transform: uppercase
	letter-spacing: 0.1rem
	font-weight: 600
	transition: 0.2s ease all

	&:hover
		color: map-get($colors, textLight)
		padding: 1rem 3rem


@media (min-width: map-get($bp, tablet))
	.content
		justify-content: center
		align-items: center
		text-align: center
	.header
		font-size: $h2Size

@media (min-width: map-get($bp, laptop))
	.section
		padding: map-get($padding, laptop)
	.content
		justify-content: space-around
	.column:first-of-type
		box-shadow: 0px 30px 60px rgba(0, 0, 0, .12)
		padding: 4rem 2rem
	.header
		font-size: $h1Size * 1.2
	.info
		margin: 2rem 0

@media (min-width: map-get($bp, desktop))
	.section
		padding: map-get($padding, desktop)
	.content
		flex-direction: row