@import "_partials.sass"
$tabletWidth: 37rem
$laptopWidth: 50rem

.section
	z-index: 0
	padding: map-get($padding, mobile)
	position: fixed
	left: 0
	top: 0
	right: 0
	display: flex
	flex-direction: column
	justify-content: center
	text-align: center
	align-content: center
	aligm-items: center
	min-height: 60vh

.content
	display: block
	margin: auto
	margin-top: 80px
	color: map-get($colors, textDark)

.salesPitch
	display: block
	font-size: $h2Size
	line-height: 1.1
	font-weight: 800
	letter-spacing: -0.25rem

.header
	font-size: $h5Size
	margin-top: 1.2rem

.ctaBtn
	display: inline-block
	max-width: 6rem
	transition: all .4s ease-in-out
	margin-top: 1rem
	&:hover
		transform: rotate(180deg)

.highlight
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #007CF0, #00DFD8)
		background-clip: text
		-webkit-text-fill-color: transparent
.highlight2
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #7928CA, #FF0080)
		background-clip: text
		-webkit-text-fill-color: transparent
.highlight3
	@supports (background-clip: text) and (-webkit-text-fill-color: transparent) 
		background-image: linear-gradient(to right, #FF4D4D, #F9CB28)
		background-clip: text
		-webkit-text-fill-color: transparent

// MEDIA QUERIES
	
@media (min-width: map-get($bp, tablet))
	.content
		max-width: $tabletWidth
	.salesPitch
		font-size: 4rem
	.header
		font-size: $h4Size

@media (min-width: map-get($bp, laptop))
	.section
		padding: map-get($padding, laptop)
		min-height: 90vh
	.content
		max-width: $laptopWidth
	.salesPitch
		font-size: 5rem
