@import "_partials.sass"

// Layout.
.section
	z-index: 2
	display: flex
	justify-content: center
	position: relative
	padding: map-get($padding, mobile)
	padding-bottom: 0 !important
	margin-bottom: -3rem
	background-color: map-get($colors, bgLight)

.content
	display: flex
	flex-direction: column
	justify-content: center
	align-content: center
	text-align: center
	max-width: 60rem

// Headers.
.header
	font-size: $h3Size
	margin-top: 0rem
	font-weight: 800
	line-height: $headerLineHeight
	margin-bottom: 2rem
.note
	color: map-get($colors, textGray)
	align-self: center

// Media queries.
@include tablet
	.section
		margin-bottom: -4rem
	.header
		font-size: $h2Size

@include laptop
	.section
		padding: map-get($padding, laptop)
		margin-bottom: -6rem
	.header
		font-size: $h1Size * 1.2