@import "_partials.sass"

.section
	margin-bottom: 5rem
	padding: map-get($padding, mobile)

.flexWrapper
	display: flex
	justify-content: center

.container
	display: inline-flex
	flex-direction: column
	justify-content: center
	color: map-get($colors, textDark)

.header
	display: inline-block
	margin-left: 0
	padding-left: 0
	font-size: $h3Size
	font-weight: 800
	line-height: $headerLineHeight

.quoteText
	font-style: italic

.source
	align-self: flex-end
	font-style: italic
	margin-right: 3rem

@media (min-width: map-get($bp, tablet))
	.header
		font-size: $h2Size

@media (min-width: map-get($bp, laptop))
	.section
		color: map-get($colors, textDark)
		padding: map-get($padding, laptop)
	.header
		font-size: $h1Size * 1.2