@import "_partials.sass"

.section
	margin-bottom: 5rem
	padding: map-get($padding, mobile)

.flexWrapper
	display: flex
	justify-content: center

.container
	display: inline-flex
	flex-direction: column
	justify-content: center
	align-items: center
	color: map-get($colors, textDark)

.quoteText
	font-style: italic
	font-weight: 600

.source
	align-self: flex-end

@media (min-width: map-get($bp, laptop))
	.section
		color: map-get($colors, textDark)
		padding: map-get($padding, laptop)
