@import "_partials"

.section
	padding: map-get($padding, mobile)
	position: relative
	z-index: 1
	background-color: map-get($colors, bgLight)

.content
	z-index: 1
	background-color: map-get($colors, bgLight)

.preheader
	@include preheader
	color: map-get($colors, primary)

.header
	font-size: 1.75rem
	font-weight: 800
	max-width: $sectionHeaderWidth

.emailLink
	letter-spacing: 0.1rem
	
@media (min-width: map-get($bp, laptop))
	.section
		padding: map-get($padding, laptop)
	.headerWrapper
		display: flex
		flex-wrap: wrap
		gap: 3rem
	.preheader
		writing-mode: tb-rl
		margin-left: 2rem
	.header
		max-width: 40rem
		margin-top: 2rem
		font-size: $h1Size
	.textContainer
		display: flex
	.textColumn
		&:last-of-type
			margin-left: 4rem

@media (min-width: map-get($bp, desktop))
	.section
		padding: map-get($padding, desktop)
	.textContainer
		display: flex
		flex-direction: row
		gap: 2rem
	.header
		font-size: $h1Size * 1.2
		max-width: 46rem