@import "_partials"

.nav
	z-index: 999
	display: flex
	justify-content: flex-end
	align-items: center
	position: fixed
	top: 0
	width: 100%
	height: map-get($size, navHieght)
	padding: 0 0.5rem
	border-bottom: 1px solid #ccc
	background-color: #fff
	overflow: hidden

.burgerButton
	display: flex
	justify-content: center
	align-items: center
	width: 3rem
	height: 3rem
	border: none
	cursor: pointer
	overflow: hidden
	background-color: transparent

	&:focus
		outline: none

.burgerIcon
	color: map-get($colors, textDark)
	font-size: 2rem
