@import "_partials"

.header
	position: fixed
	right: 0
	top: 0
	z-index: 100

.burgerButton
	display: flex
	justify-content: center
	align-items: center
	width: 3rem
	height: 3rem
	border: none
	background-color: map-get($colors, secondary)
	cursor: pointer
	border-bottom-left-radius: 4px
	overflow: hidden
	transition: all 0.1s ease

	&:focus
		outline: none

	&:hover
		font-size: 2.1rem
		width: 3.25rem
		height: 3.25rem

.burgerIcon
	color: map-get($colors, textDark)
	font-size: 2rem
