@import "_partials"

.nav
  margin-top: $infobarHeight
  background-color: $bglight
  padding: 0.5rem
  display: none

.navList
  display: flex
  flex-direction: row
  align-items: center
  gap: 2rem
  padding: 0
  margin: 0
  list-style: none

.navLink
  color: $dark
  font-weight: 600
  font-size: 1.2rem

@include laptop
  .nav
    display: flex
    justify-content: space-around
    align-items: center
