@import "_partials"

.section
	@include spacing

.wrapper
	position: relative
	display: grid
	grid-auto-flow: row
	gap: 4rem

.header
	@include mainHeader
	margin-top: 0

@include tablet
	.wrapper
		gap: 8rem

@include desktop
	.header
		margin-bottom: 4rem !important
	.wrapper
		gap: 10rem
	.header
		margin: auto
		margin-bottom: 3rem