@import "_partials"

.section
	@include spacing
	display: flex
	flex-direction: column
	justify-content: center

.wrapper
	position: relative
	display: grid
	grid-auto-flow: row
	gap: 3rem

.header
	@include mainHeader
	margin: 0

@include desktop
	.header
		margin-bottom: 4rem !important
	.wrapper
		gap: 10rem
	.header
		margin: auto
		margin-bottom: 3rem