@import "_partials.sass"

.content
	margin: map-get($spaces, mobileContent)

.header
	display: flex
	margin: 1rem auto
	font-size: 2rem
	font-weight: 900
	align-items: center

	svg
		margin-right: 0.5rem