@import "_partials.sass"

.flexWrapper
	display: flex
	justify-content: center

.container
	display: inline-flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: map-get($padding, mobile)
	color: map-get($colors, textDark)

.quoteMark
	font-size: 3rem
	align-self: flex-start

	&:last-of-type
		align-self: flex-end

.quoteText
	margin: 0
	font-size: 1.25rem
	line-height: 1.75rem

.source
	align-self: flex-end
	color: map-get($colors, textDark) !important
	font-weight: 900
	letter-spacing: 0.025rem
	margin-top: 0.5rem

	&:hover
		opacity: 0.66

@media (min-width: map-get($bp, laptop))
	.container
		color: map-get($colors, textDark)
		padding: map-get($padding, laptop)
