@import "_partials.sass"

.section
	position: relative

.content
	margin: map-get($spaces, mobileContent)
	display: flex
	flex-direction: column
	align-items: flex-start

.header
	margin-bottom: 0

.scores
	margin: 1rem 0

.highlight
	margin: map-get($spaces, mobileContent)
	font-style: italic
