@import "_partials.sass"

$lg: rgba(0, 0, 0, 0.5)

.section
	position: relative
	padding: map-get($padding, mobile)
	background: linear-gradient($lg, $lg), url("/ai-woman.jpg")
	background-position: center right
	background-size: cover
	background-repeat: no-repeat
	color: map-get($colors, textLight)
	z-index: 0

.content
	display: flex
	flex-direction: column
	align-items: flex-start
	z-index: 999 !important

.miniheader
	color: map-get($colors, textLight) !important
	opacity: 0.8

.header
	margin-top: 0.1rem

@media (min-width: map-get($bp, laptop))
	.section
		padding: map-get($padding, laptop)