@import "_partials"

.background
	background-color: map-get($colors, primary)
	color: map-get($colors, textLight)
	position: fixed
	z-index: 90
	height: 100%
	bottom: 0
	right: 0
	display: flex
	justify-content: flex-end
	transform: translateX(100vw)
	transition: transform 0.5s ease
	overflow: hidden
	max-width: 550px

.content
	padding: map-get($padding, mobile)
	margin-top: 3rem
	padding: .5rem
	border-radius: 1rem
	text-align: right

.open
	transform: translateX(0)

.header
	border-bottom: 2px solid white
	cursor: pointer

.navList
	list-style: none
	margin: 0
	padding: 0

.navItem
	margin: 0
	padding: 0
	cursor: pointer

.navLink
	color: map-get($colors, textLight) !important


@media (min-width: map-get($bp, laptop))
	.content
		padding: map-get($padding, laptop)