@import "_partials.sass"

// Layout.
.topbar
	z-index: 1000
	display: none
	position: fixed
	top: 0
	right: 0
	left: 0
	padding: 0 1rem
	background-color: $dark
	height: $infobarHeight

// Content.
.contactLink
	display: flex
	align-content: center
	align-items: center
	font-size: 1rem
	color: $light
	&:hover
		color: $light
		text-decoration: underline
.contactText
	margin-left: 8px
	display: none
	&:first-of-type
		letter-spacing: 0.05rem
	
// Media queries.
@include tablet
	.topbar
		display: flex
		justify-content: center
		gap: 5rem
	.contactText
		display: inline-block