@import "_partials.sass"

$textColor: map-get($colors, textLight)

// Layout.
.topbar
	z-index: 1000
	position: fixed
	top: 0
	right: 0
	left: 0
	display: flex
	justify-content: space-around
	height: $infobarHeight
	padding: 0 1rem
	background-color: map-get($colors, primary)
	font-size: 1rem

// Content.
.contactLink
	display: flex
	align-content: center
	align-items: center
	color: $textColor !important
	font-size: 1rem
.contactText
	margin-left: 8px
	display: none
	
// Media queries.
@include tablet
	.topbar
		justify-content: center
	.divider
		margin: 0 2rem
	.contactText
		display: inline-block
	.contactLink
		font-size: 1rem
		&:last-of-type
			font-weight: 800
			letter-spacing: 0.1rem
		&:hover, &:focus
			color: map-get($colors, secondary) !important
			outline: none