@import "_partials"

.section
	background-color: #fafafd

.content
	padding: map-get($padding, mobile)

.header
	margin-top: 0
.part
	margin-top: 2.5rem
	&:first-of-type
		margin-top: 0

@media (min-width: map-get($bp, laptop))
	.content
		padding: map-get($padding, laptop)