@use "@/partials/colors"

// Layout.
.container
	position: relative
	display: flex
	flex-direction: column

.form
	display: grid
	gap: 2rem

.formSection
	position: relative

.rowGrid
	display: grid
	grid-auto-flow: row
	gap: 1rem

.columnGrid
	display: grid
	gap: 1rem

// Styles.
.overheader
	font-size: 1rem
	letter-spacing: 1px
	margin-bottom: 1rem
	opacity: 50%

.error
	position: absolute
	top: -5px
	left: 50%
	transform: translateX(-50%)
	font-weight: 600
	width: 100%
	color: colors.$red
	display: block