@use "@/partials/typography"
@use "@/partials/breakpoints"
@use "@/partials/spacing"

// Layout.
.section
	@include spacing.section
	display: flex
	justify-content: center
	margin-top: 3rem

.defaultFormColumn
	position: relative
	&:last-of-type
		display: none

// Headers.
.headers
	position: relative
	max-width: 600px

.header
	@include typography.headerMain

.subheader
	@include typography.headerDescription
	max-width: 540px

// Icons.
.icon
	font-size: 2rem
	margin-bottom: 1.5rem

.spinning
	animation: rotate 0.75s infinite linear

// Animations.
@keyframes bounce
	0%
		transform: translateY(0%)
	50%
		transform: translateY(15%)
	0%
		transform: translateY(0%)

@keyframes rotate
	100%
		transform: rotate(360deg)

@include breakpoints.laptop
	.section
		margin-top: 8rem
	.header
		max-width: 100% !important
	.defaultForm
		display: grid
		grid-template: auto / 1fr auto
		gap: 5rem
	.defaultFormColumn
		&:last-of-type
			display: block !important

@include breakpoints.desktop
	.defaultForm
		gap: 7rem
