@use "@/partials/typography"
@use "@/partials/breakpoints"
@use "@/partials/spacing"

// Layout.
.section
	@include spacing.section
	display: flex
	place-items: center
	place-content: center

.defaultForm
	display: grid
	grid-auto-flow: row
	place-items: start
	place-content: start

// Headers.
.headers
	position: relative
	max-width: 600px

.header
	@include typography.headerMain

.subheader
	@include typography.headerDescription
	max-width: 540px

// Icons.
.icon
	font-size: 2rem
	margin-bottom: 1.5rem

.spinning
	animation: rotate 0.75s infinite linear

// Animations.
@keyframes bounce
	0%
		transform: translateY(0%)
	50%
		transform: translateY(15%)
	0%
		transform: translateY(0%)

@keyframes rotate
	100%
		transform: rotate(360deg)
	
@include breakpoints.laptop
	.defaultForm
		grid-auto-flow: column
		gap: 4rem
	.content
		order: -1
		