@use "@/partials/colors"
@use "@/partials/breakpoints"
@use "@/partials/typography"

.textArea
	display: grid
	gap: 0.75rem
	max-width: 500px
	width: 100%

.input
	padding: 0.5rem
	border-radius: 4px
	border-style: solid
	border-color: hsl(0,0%,80%)
	resize: vertical
	font-family: typography.$font 
	font-size: inherit
	&:hover
		border-color: hsl(0, 0%, 75%)

@include breakpoints.laptop
	.textArea
		gap: 1rem