@import "../../styles/_partials"

.section
	@include spacing

.help
	font-style: italic

.naytteet
	display: grid
	grid-auto-flow: row
	gap: 4rem

.header
	text-align: center

@include tablet
	.naytteet
		gap: 6rem

@include desktop
	.naytteet
		gap: 10rem
		